<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link rel="stylesheet" href="../../../static/logs/configuraciones-estilo/configuraciones-estilo.css">
</head>

<body>
    <button id="toggleTheme">Cambiar Tema</button>
    <h1>Bienvenido a mi página web</h1>
    <p>Este es un ejemplo de cómo cambiar entre tema claro y oscuro.</p>

    <script src="../configuraciones-estructura/index.js"></script>
</body>
</html>